*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*==================================================
                     Estilo General
==================================================*/

body{
    
    width: 100%;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(imagenfondo.jpg);
}

header{
    background-color: rgb(1, 0, 60);
    width: 100%;
    height: 100px;
}

.container-fluid{
    width: 50%;
    height: 100px;
}

#logo{
    margin-left: -200px;
    width: 200px;
    height: 100px;
    padding-top: 10px;
    margin-left: 25px;
}

.navbar{
    background-color:  #00098d;
}

.navbar-toggler{
    background-color: white;
}

.collapse{
    background-color: #00098d;
}

.nav-link{
    color: white;
}

.enlace{
    width: 50%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-right: 25px;
}

footer{
    background-color: rgb(1, 0, 60);
    width: 100%;
    height: 100px;
    display: flex;
}

#frase{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#iconos{
    height: 100px;
}

.iconos1{
    margin: 10px;
}

/*==================================================
                     Pagina Principal
==================================================*/
 
#clubes h2{
    text-align: center;
    font-size: 50px;
    margin-top: -40px;
}

#volver{
    position: fixed;
    bottom: 80px;
    right: 20px;
}

#whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#volver svg{
    color: white;
}

.forma{
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 5px;
}

#contenedor{
    width: 100%;
    display: flex;
}

div img{
    width: 300px;
    height: 350px;
}

#aside{
    width: 25%;
    height: 1200px;
    background-color: #00098d78;
}

#aside h3{
    text-align: center;
    margin-top: 5%;
}

#aside p{
    font-size: 20px;
    text-align: center;
    color: white;
}

#aside img{
    margin-left: 5%;
    margin-bottom: 5%;
    height: 20%;
}

.redcaja{
    margin-left: 10%;
}

.redes{
    color: white;
}

/*==================================================
                     Formulario
==================================================*/

form{
    padding: 10px;
    width: 40%;
    background-color: rgb(4, 0, 212);
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    border: 2px solid white;
}

form h1{
    margin-bottom: 20px;
    text-align: center;
}

#botones{
    margin-left: 40%;
}

/*==================================================
                     Autoridades
==================================================*/

.table{
    background-color: #00098d89;
    color: white;
    width: 70%;
    border: 3px solid white;
    margin-left: 15%;
}

#autoridades{
    text-align: center;
}

td img{
    width: 100px;
    height: 100px;
}

.card-title{
    color: black;
    text-align: center;
}

.card-text{
    color: black;
    text-align: center;
}

.btn{
    margin-left: 45%;
}

#reglamento{
    text-align: center;
}

.card{
    margin-left: 25%;
}

